<a href="https://colab.research.google.com/github/Abbujaa/python100days/blob/main/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
names = input("Write the names to wish seperated by a comma: ").split(",")

for i in range(len(names)):
  print(f"happy birthday {names[i]}")

Write the names to wish seperated by a comma: hamid,ayesha,umar,
happy birthday hamid
happy birthday ayesha
happy birthday umar
happy birthday

In [6]:
i=0

In [2]:
while i <= 100:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [8]:
names = input("Write the names to wish seperated by a comma: ").split(",")

for name in names:
  print(f"happy birthday {names[i]}")

Write the names to wish seperated by a comma: 0,1,2,3,4,5
happy birthday 3
happy birthday 3
happy birthday 3
happy birthday 3
happy birthday 3
happy birthday 3

In [11]:
i = int(input())

for idx, i in enumerate(range(i)):
  print("*"*(i +1), idx)

16
* 0
** 1
*** 2
**** 3
***** 4
****** 5
******* 6
******** 7
********* 8
********** 9
*********** 10
************ 11
************* 12
************** 13
*************** 14
**************** 15